doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block stylesheets
        block scripts
    body
        block content
